.page-container {
	width: 80%;
	margin: 5rem auto;
}

.card-layout {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;
}

.card-layout .img-container img {
	height: 12rem;
	width: 100%;
	object-fit: cover;
}
